$PfontSize: 16px;
$PlineHeight: 1.6;
$cBlack: #333;
$cBrawn: #88684e;
$cGray: #b6b6b6;
$cWhite: #fff;

body {
  font-family: "ヒラギノ角ゴシック";
  font-size: $PfontSize;
}

header {
  position: relative;
  z-index: auto;
}

.inner {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

//各種ナビ
.nav_area {
  //nav_areaの重なりを上にして、key_visual_areaを下にする
  position: relative;
  width: 100%;
  z-index: 1;

  &.NHK_nav {
    position: fixed;
    z-index: 5;
    background-color: #f0f0f0;

    & ul li {
      height: 36px;
      line-height: 36px;

      & a {
        display: inline-block;
        display: block;
        text-decoration: none;
        padding: 0 33px;

        &:hover {
          background-color: #0087d2;
          color: #fff;
        }
      }
    }
  }

  &.page_nav {
    background-color: #e0dacb;

    & ul {
      display: flex;
    }

    & li {
      flex: 1;
      height: 60px;
      line-height: 60px;

      & a {
        // display: inline-block;
        display: block;
        text-decoration: none;
        color: $cBrawn;

        &:hover {
          background-color: #c5b8a5;
        }

        &:active {
          background-color: $cBrawn;
          color: #fff;
        }
      }
    }
  }

  //ナビ共通
  & nav {
    text-align: center;

    & ul {
      width: 960px;
      margin: 0;
      padding: 0;
      list-style: none;

      //   インラインブロックにしたときに発生する謎の余白対策
      font-size: 0;
      line-height: 0;

      & li {
        display: inline-block;

        // インラインブロックにしたときに発生する謎の余白対策
        font-size: $PfontSize;
        line-height: $PlineHeight;

        & a {
          color: $cBlack;
        }
      }
    }
  }
}

//キービジュアル
.key_visual_area {
  //nav_areaの重なりを上にして、key_visual_areaを下にする
  position: relative;
  z-index: 1;

  height: 360px;
  padding-top: 36px;
  background: url(../images/MV-bg.png) repeat center;

  & .key_visual_content {
    width: 590px;

    //.innerを基準にtopは固定値(innerにはrelativeあり)
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    & .logo {
      position: relative;
      z-index: 2;
    }

    & p {
      margin: 30px 0 0 0;
      line-height: 1.5;
      color: #5e412f;
      position: relative;
      z-index: 2;
    }

    & .key_visual {
      position: absolute;
      z-index: 1;
      top: -50%;
      left: -50%;
      transform: translate(-10%, -3.5%);
    }
  }
}

//-----------------------------------------------------

main {
  position: relative;
  z-index: 2;
}

.bg-img {
  background-image: url(../images/asiato.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bgc-b {
  background-color: #f8f3ec;
}

.bgc_g {
  background-color: #57b5a0;
}

.bgc_o {
  background-color: #f07818;
}

.bgc-w {
  background-color: #fff;
}

.sec_layout {
  padding: 48px 0 66px 0;
  text-align: center;
}

.time_stanp {
  color: $cGray;
}

main {
  & .header2 {
    font-family: "Futura Medium";
    font-size: $PfontSize * 2;
    line-height: 1.4;
    letter-spacing: 13px;
    color: $cBrawn;
    margin: 0 0 28px 0;
  }

  & .sec_image {
    width: 640px;
    height: 360px;
    vertical-align: bottom;
  }

  & .sec_detail {
    margin-top: 32px;
    padding: 0 120px;

    & .header3 {
      font-size: $PfontSize * 1.5;
      font-weight: normal;
      text-align: left;
      margin: 0;
    }

    & p {
      text-align: left;
      margin: 15px 0 0 0;
      line-height: 1.6;
    }
  }
}

.sec_layout {
  & .member_info_area {
    display: flex;
    justify-content: space-between;

    & .member_info_layout {
      display: flex;
      justify-content: space-between;
      padding: 32px;
      width: 468px;
      height: 246px;
      box-sizing: border-box;

      & img {
        width: 180px;
        height: 180px;
        vertical-align: bottom;
      }

      & .keeper_info {
        width: 208px;

        & .header3 {
          font-size: $PfontSize * 1.5;
          font-weight: normal;
          text-align: left;
          margin: 17px 0 0 0;
          letter-spacing: 1px;

          & span {
            font-size: 18px;
          }
        }

        & p {
          margin: 20px 0 28px 0;
          letter-spacing: 1px;
          text-align: left;
        }
      }
    }
  }
}

.btn {
  width: 208px;
  height: 33px;
  border-radius: 15px;
  border: none;
  color: $cWhite;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  & .icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;

    & span {
      position: absolute;
      background-color: $cWhite;
      display: inline-block;
      width: 12px;
      height: 2px;
    }

    & span:nth-child(1) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & span:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

//-----------------------------------------------------

.link {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  & li {
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    flex-grow: 1;
    min-width: calc(956px / 3);
    background-color: #e0dacb;
    color: #88684e;
    cursor: pointer;

    &:hover {
      background: #c5b8a5;
    }

    &:nth-child(1) {
      border-top-left-radius: 20px 24px;
      border-bottom-left-radius: 20px 24px;
    }

    &:nth-child(3) {
      border-top-right-radius: 20px 24px;
      border-bottom-right-radius: 20px 24px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin-left: 2px;
    }

    &.active {
      background-color: #88684e;
      color: #fff;
    }
  }
}

.cat_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .cat_content {
    width: 304px;
    min-height: 256px;
    margin-bottom: 30px;
    cursor: pointer;

    & p:last-of-type {
      margin: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
