@charset "UTF-8";
.nav_area {
  position: relative;
  width: 100%;
  z-index: 1;
}

.nav_area.NHK_nav {
  position: relative;
  z-index: 1;
  background-color: #f0f0f0;
}

.nav_area.NHK_nav ul li {
  height: 36px;
  line-height: 36px;
}

.nav_area.NHK_nav ul li a {
  display: inline-block;
  display: block;
  text-decoration: none;
  padding: 0 33px;
}

.nav_area.NHK_nav ul li a:hover {
  background-color: #0087d2;
  color: #fff;
}

.nav_area.page_nav {
  background-color: #e0dacb;
}

.nav_area.page_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_area.page_nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60px;
  line-height: 60px;
}

.nav_area.page_nav li a {
  display: block;
  text-decoration: none;
  color: #88684e;
}

.nav_area.page_nav li a:hover {
  background-color: #c5b8a5;
}

.nav_area.page_nav li a:active {
  background-color: #88684e;
  color: #fff;
}

.nav_area nav {
  text-align: center;
}

.nav_area nav ul {
  width: 960px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
}

.nav_area nav ul li {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
}

.nav_area nav ul li a {
  color: #333;
}

.key_visual_area {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 360px;
  background: url(../images/MV-bg.png) repeat center;
}

.key_visual_area .key_visual_content {
  width: 590px;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.key_visual_area .key_visual_content .logo {
  position: relative;
  z-index: 2;
}

.key_visual_area .key_visual_content p {
  margin: 30px 0 0 0;
  line-height: 1.5;
  color: #5e412f;
  position: relative;
  z-index: 2;
}

.key_visual_area .key_visual_content .key_visual {
  position: absolute;
  z-index: 1;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(-10%, -3.5%);
          transform: translate(-10%, -3.5%);
}

.nyanko_anime {
  opacity: 0;
}

main .header2 {
  font-family: "Futura Medium";
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 13px;
  color: #88684e;
  margin: 0 0 28px 0;
}

main .sec_image {
  width: 640px;
  height: 360px;
  vertical-align: bottom;
}

main .sec_detail {
  margin-top: 32px;
  padding: 0 120px;
}

main .sec_detail .header3 {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

main .sec_detail p {
  text-align: left;
  margin: 15px 0 0 0;
  line-height: 1.6;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: calc(956px / 3);
  background-color: #e0dacb;
  color: #88684e;
  cursor: pointer;
}

.link li:hover {
  background: #c5b8a5;
}

.link li:nth-child(1) {
  border-top-left-radius: 20px 24px;
  border-bottom-left-radius: 20px 24px;
}

.link li:nth-child(3) {
  border-top-right-radius: 20px 24px;
  border-bottom-right-radius: 20px 24px;
}

.link li:nth-child(2), .link li:nth-child(3) {
  margin-left: 2px;
}

.link li.active {
  background-color: #88684e;
  color: #fff;
}

.cat_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 125px;
}

.cat_area .cat_content {
  width: 304px;
  min-height: 256px;
  margin-bottom: 30px;
  cursor: pointer;
}

.cat_area .cat_content p:last-of-type {
  margin: 0;
}

.cat_area .cat_content:hover {
  opacity: 0.8;
}

.btn {
  width: 208px;
  height: 33px;
  border-radius: 15px;
  border: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn .icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
}

.btn .icon span {
  position: absolute;
  background-color: #fff;
  display: inline-block;
  width: 12px;
  height: 2px;
}

.btn .icon span:nth-child(1) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn .icon span:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.rotate {
  -webkit-animation: iconRotation 3s ease 0.5s;
          animation: iconRotation 3s ease 0.5s;
}

@-webkit-keyframes iconRotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

@keyframes iconRotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

body {
  font-family: "ヒラギノ角ゴシック";
  font-size: 16px;
}

header {
  position: relative;
  z-index: auto;
}

.inner {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

main {
  position: relative;
  z-index: 2;
}

.bg-img {
  background-image: url(../images/asiato.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bgc-b {
  background-color: #f8f3ec;
}

.bgc_g {
  background-color: #57b5a0;
}

.bgc_o {
  background-color: #f07818;
}

.bgc-w {
  background-color: #fff;
}

.sec_layout {
  padding: 48px 0 66px 0;
  text-align: center;
}

.time_stanp {
  color: #b6b6b6;
}

.sec_layout .member_info_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec_layout .member_info_area .member_info_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  width: 468px;
  height: 246px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec_layout .member_info_area .member_info_layout img {
  width: 180px;
  height: 180px;
  vertical-align: bottom;
  -webkit-animation-name: rotateImg;
          animation-name: rotateImg;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.sec_layout .member_info_area .member_info_layout .keeper_info {
  width: 208px;
}

.sec_layout .member_info_area .member_info_layout .keeper_info .header3 {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  margin: 17px 0 0 0;
  letter-spacing: 1px;
}

.sec_layout .member_info_area .member_info_layout .keeper_info .header3 span {
  font-size: 18px;
}

.sec_layout .member_info_area .member_info_layout .keeper_info p {
  margin: 20px 0 28px 0;
  letter-spacing: 1px;
  text-align: left;
}

@-webkit-keyframes rotateImg {
  0% {
    -webkit-transform: perspective(500px) rotateX(0) rotateY(90deg);
            transform: perspective(500px) rotateX(0) rotateY(90deg);
  }
  50% {
    -webkit-transform: perspective(500px) rotateX(180deg) rotateY(180deg);
            transform: perspective(500px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(500px) rotateX(360deg) rotateY(540deg);
            transform: perspective(500px) rotateX(360deg) rotateY(540deg);
  }
}

@keyframes rotateImg {
  0% {
    -webkit-transform: perspective(500px) rotateX(0) rotateY(90deg);
            transform: perspective(500px) rotateX(0) rotateY(90deg);
  }
  50% {
    -webkit-transform: perspective(500px) rotateX(180deg) rotateY(180deg);
            transform: perspective(500px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(500px) rotateX(360deg) rotateY(540deg);
            transform: perspective(500px) rotateX(360deg) rotateY(540deg);
  }
}
/*# sourceMappingURL=style.css.map */