@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease-in-out,
  $iteration-count: infinite,
  $direction: alternate
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
}

.btn {
  width: 208px;
  height: 33px;
  border-radius: 15px;
  border: none;
  color: $cWhite;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  & .icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;

    &.rotate {
      @include animation(
        $name: iconRotation,
        $duration: 1.5s,
        $iteration-count: infinite,
        $direction: alternate
      );
    }

    & span {
      position: absolute;
      background-color: $cWhite;
      display: inline-block;
      width: 12px;
      height: 2px;
    }

    & span:nth-child(1) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & span:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

@keyframes iconRotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(540deg);
  }
}
