//キービジュアル
.key_visual_area {
  //nav_areaの重なりを上にして、key_visual_areaを下にする
  overflow: hidden;
  position: relative;
  z-index: 1;

  height: 360px;
  background: url(../images/MV-bg.png) repeat center;

  & .key_visual_content {
    width: 590px;

    //.innerを基準にtopは固定値(innerにはrelativeあり)
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    & .logo {
      position: relative;
      z-index: 2;
    }

    & p {
      margin: 30px 0 0 0;
      line-height: 1.5;
      color: #5e412f;
      position: relative;
      z-index: 2;
    }

    & .key_visual {
      position: absolute;
      z-index: 1;
      top: -50%;
      left: -50%;
      transform: translate(-10%, -3.5%);

      animation-name: purupuruCat;
      animation-duration: 4s;
      animation-timing-function: ease-in;
      animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes purupuruCat {
  0% {
    transform: translate(-10%, -3, 5%);
  }
  6% {
    transform: translateX(-11%);
  }
  9% {
    transform: translateX(-9%);
  }
  12% {
    transform: translateX(-10%);
  }
  15% {
    transform: translateX(-11%);
  }
  18% {
    transform: translateX(-9%);
  }
  21% {
    transform: translateX(-10%);
  }
  24% {
    transform: translateX(-11%);
  }
  27% {
    transform: translateX(-9%);
  }
  30% {
    transform: translateX(-10%);
  }
  33% {
    transform: translateX(-11%);
  }
  36% {
    transform: translateX(-9%);
  }
  39% {
    transform: translateX(-10%);
  }
  42% {
    transform: translateX(-11%);
  }
  45% {
    transform: translateX(-9%);
  }
  48% {
    transform: translateX(-10%);
  }
  80% {
    transform: translate(-10%, 3.5%);
  }
  90% {
    transform: translate(-10%, -3.5%);
  }
  100% {
    transform: translate(-10%, -3.5%);
  }
}
