.header {
  background-color: #fff;
  position: relative;
}

.header .container {
  position: relative;
  z-index: 2;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .area_logo_header .logo {
  display: block;
}

.header .container .area_logo_header .logo img {
  height: 23px;
  vertical-align: bottom;
}

.header .container .area_nav_header {
  margin-left: auto;
}

.header .container .area_nav_header .list_nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header .container .area_nav_header .list_nav_header li {
  list-style-type: none;
}

.header .container .area_nav_header .list_nav_header li .btn_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  padding: 0 24px 0 48px;
  color: #fff;
  background-color: #0087d2;
  border-radius: 2px;
  position: relative;
}

.header .container .area_nav_header .list_nav_header li .btn_search::before {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background: url(/06_nyanko_git/nyanko/common/images/icon/icon_search.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .container .area_nav_header .list_nav_header li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1em;
  font-family: sans-serif;
  color: #454545;
}

.header .container .area_nav_header .list_nav_header li + li {
  margin-left: 40px;
}

.list_nav_main {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
}

.list_nav_main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  background-color: #f0f0f0;
  margin: 0 -200%;
  padding: 0 200%;
}

.list_nav_main ul li {
  padding: 0 30px;
}

.list_nav_main ul li a {
  text-decoration: none;
  color: #454545;
}

.list_nav_main ul li:hover {
  background-color: #0087d2;
}

.list_nav_main ul li:hover a {
  color: #fff;
}

.MV_container .MV_area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 360px;
  background: url(/06_nyanko_git/nyanko/common/images/material/MV_bg.png) no-repeat center center;
}

.MV_container .MV_area .main_title {
  text-align: center;
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.MV_container .MV_area .main_title .title_logo {
  width: 592px;
}

.MV_container .MV_area .main_title p {
  margin: 30px 0 0 0;
  padding: 0;
  line-height: 1.5;
  position: relative;
  z-index: 2;
}

.MV_container .MV_area .main_title .cat_picture {
  position: absolute;
  top: -115%;
  left: -55%;
  z-index: 1;
}

.page_menu_area {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  background-color: #e0dacb;
}

.page_menu_area .page_menu_wrapper {
  width: 960px;
  margin: 0 auto;
}

.page_menu_area .page_menu_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-align: center;
  margin: 0 -200%;
  padding: 0 200%;
}

.page_menu_area .page_menu_wrapper ul .menu1,
.page_menu_area .page_menu_wrapper ul .menu2,
.page_menu_area .page_menu_wrapper ul .menu3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page_menu_area .page_menu_wrapper ul li:hover {
  color: #fff;
  background-color: #0087d2;
}
/*# sourceMappingURL=header.css.map */